#splash {
    background: rgba(24, 28, 37, 1);
}

.progress .progress-bar {
    background-color: rgba(20, 23, 31, 1)
}

.progress .progress-bar .complete {
    background-color: #008ae6;
}

#splash .splash-inner-dl .dl-select-frame .Select-control {
    background: rgba(24, 28, 37, 1);
    border-color: rgba(20, 23, 31, 1);
}

#splash .splash-inner-dl .dl-select-frame .Select-menu-outer {
    background: rgba(24, 28, 37, 1);
    border-color: rgba(20, 23, 31, 1);
}